.zm-none {
  width:  16px;
  height: 16px;
  -webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
  user-select: text;
  margin: 2px;
}

.zm {
  background-size: 14px 14px;
  width:  14px;
  height: 14px;
  -webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
  user-select: text;
  margin: 1px;
  color: rgba(0, 0, 0, 0) !important;
  position: relative;
  top: 3px;
  display: inline-block;
}